---
import { useEffect, useState } from 'react'
import {
  Rocket,
  Zap,
  Box,
  Trophy,
  Users,
  ThumbsUp,
  Monitor,
  ShoppingBag,
} from 'lucide-react'
import Layout from '@/layouts/layoutV0.astro'
---

<Layout>
  <h1>Welcome to the Home Page</h1>
  <p>This is the main page of your Astro app.</p>
</Layout>
